body
{
      background-color: red;
}
@media screen and (max-width: 1200px)
 {
    body
    {
        background-color: navy;
    }    
}

@media screen and (max-width: 1000px)
{
    body
    {
        background-color: darkgreen;
    }
}

.container 
{
    overflow: hidden;
    display: none;
}

.click
{
    background-color: cadetblue;
}
 